
/* --- CIRCLE --- */

.percircle.gt50 .slice,
.rect-auto {
    clip: rect(auto, auto, auto, auto);
}

.gt50 .fill,
.percircle .bar,
.pie {
    position: absolute;
    border: .08em solid #FFC107;
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.bar {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gt50 .bar:after,
.gt50 .fill,
.pie-fill {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.percircle {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 .1em .1em 0;
    background-color: #ccc;
}

.percircle *,
.percircle:after,
.percircle:before {
    box-sizing: content-box;
}

.percircle.animate:after,
.percircle.animate>span {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out
}

.percircle.animate .bar {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

.percircle.center {
    float: none;
    margin: 0 auto
}

.percircle.big {
    font-size: 240px;
}

.percircle.small {
    font-size: 80px;
}

.percircle>span {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    height: 1em;
    margin-top: -.5em;
    font-size: .2em;
    color: #ccc;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.perclock>span {
    font-size: .175em;
}

.percircle:after {
    position: absolute;
    top: .08em;
    left: .08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: white;
    width: .84em;
    height: .84em;
}

.percircle .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0, 1em, 1em, .5em);
}


.percircle>span {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: gray;
}

.percircle:after {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}